*,body{
    padding: 0;
    margin: 0;
}
main {
    background-color: #141412;
    color: #faebd7;
}
main {
    display: block;
    max-width: 100%;
    position: static;
}
a{
    text-decoration: none;
    list-style: none;
}
/* #core {
    text-align: center;
    margin: 0 auto;
}
#core h2 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
}
#core p {
    font-family: "Raleway", sans-serif;
    text-align: left;
} */
/*Responsive CSS*/
@media (min-width: 1200px){
    .container {
        max-width: 1600px;
    }
}
