@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");
body {
    font-family: "Quicksand", sans-serif;
}
/*Header CSS Start*/
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    background-color: rgb(27, 25, 25);
}
header h1 {
    font-size: 30px;
}
#page-logo {
    font-family: "Oleo Script", sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    text-transform: uppercase;
    color: #ffcc33;
}
#page-logo a {
    color: #ffcc33;
    text-decoration: none;
}
header ul {
    padding: 25px;
    list-style: none;
    display: flex;
    margin: 0;
}
header li {
    margin: 0 20px;
}
header li a {
    color: #ffcc33;
    text-decoration: none;
}
header li a:hover {
    padding: 5px;
    border-radius: 6px;
    background-color: #ffcc33;
    color: #1b1919;
    text-decoration: none;
}
/*Header CSS End*/
