@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #141412;
}

body::-webkit-scrollbar-thumb {
  background: #ffcc33;
}
/*Header CSS Start*/
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: rgb(27, 25, 25);
}
header h1 {
  font-size: 30px;
}
#page-logo {
  display: flex;
  align-items: center;
  font-family: "Oleo Script", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-transform: uppercase;
  color: #ffcc33;
}
#page-logo a {
  color: #ffcc33;
  text-decoration: none;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  list-style: none;
  padding: 10px 100px;
  margin-bottom: 0 !important;
  gap: 3rem;
}
nav .menu li {
  display: block;
  width: 120px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 15px #000;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
}
nav .menu #home-id {
  width: 85px;
}
.menu li a {
  color: #ffcc33;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
  z-index: 10;
}
.menu li a:hover {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: rgb(27, 25, 25);
  padding: 40px 40px 20px 40px;
  color: rgba(255, 255, 255, 0.5);
}
.footer-link ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  align-items: center;
}
.footer-link li {
  display: flex;
  width: 80px;
  height: 80px;
  margin: 0px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-link img {
  width: 60%;
  height: auto;
}
.footer-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer-text p {
  font-weight: 500;
  font-size: 1rem;
}
